.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

.flex-center {
    justify-content: center;
    align-items: center;
}

.flex-1 {
    flex: 1;
}

.main-padding {
    padding-left: 5vw;
    padding-right: 5vw;
}

.enlist-me-button {
    font-size: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 5vw;
    padding-left: 5vw;
    cursor: pointer;
    /*border: none;
    outline: none;
    background-color: white;
    box-shadow: 0px 0px 3px grey;*/
}

.top-instruction-text {
    padding-top: 10px;
    padding-bottom: 10px;
    color: grey;
}

.map-frame {
    width: 100vw;
    height: 50vh;
}

.question-text {
    padding-top: 10px;
    padding-bottom: 10px;
}

.answer-input {
    font-size: 10vh;
    width: 100%;
}

.check-button {
    font-size: 10vh;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
}
