@import 'ubuntu-fontface-master/ubuntu.css';

* {
    font-family: Ubuntu;
}

.victory-text {
    font-size: 3vw;
}

.adventure-title {
    font-size: 5vw;
    color: white;
    text-shadow: 2px 2px grey;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

.flex-center {
    justify-content: center;
    align-items: center;
}

.flex-1 {
    flex: 1;
}

.main-padding {
    padding-left: 5vw;
    padding-right: 5vw;
}

.enlist-me-button {
    font-size: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 5vw;
    padding-left: 5vw;
    cursor: pointer;
    border: none;
    outline: none;
    background-color: white;
    box-shadow: 0px 0px 3px grey;
}

.enlist-me-button:active {
    background-color: rgba(0, 0, 0, .25);
}

.top-instruction-text {
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 5vw;
}

.map-frame {
    width: 100vw;
    height: 50vh;
}

.google-form-frame {
    width: 100vw;
    height: 100vh;
}

.question-text {
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 5vw;
    text-align: center;
}

.answer-input {
    font-size: 10vh;
    width: 100%;
}

.check-button {
    margin-top: 10px;
    font-size: 10vh;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    cursor: pointer;
    border: none;
    outline: none;
    background-color: white;
    box-shadow: 0px 0px 3px grey;
}

.check-button:active {
    background-color: rgba(0, 0, 0, .25);
}

.center-align-text {
    text-align: center;
}
